
<nav class="navbar ks-navbar fixed-top">
  <div class="ks-logo navbar-brand">
    <img src="../../assets/images/shieldstatusID.jpg" width="230" height="60">
    <!--<a href="#" class="ks-sidebar-toggle"><i class="ks-icon la la-bars" aria-hidden="false"></i></a>-->
    <a href="#" class="ks-sidebar-mobile-toggle"><i class="ks-icon la la-bars" aria-hidden="true"></i></a>
  </div>

  <div class="ks-wrapper">
    <nav class="nav navbar-nav">
      <div class="ks-navbar-menu" style="padding-left: 10px">
        <h2 class="nav-item nav-text">Welcome!</h2>
      </div>
      <div class="ks-navbar-menu">
        <form class="ks-search-form">
          <div class="col-sm-8 input-icon icon-left icon icon-lg icon-color-primary">
            <input id="input-group-icon-text" type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <span class="icon-addon">
                  <span class="la la-search ks-icon"></span>
            </span>
          </div>
        </form>
      </div>
      <!-- END NAVBAR MENU -->

      <!-- BEGIN NAVBAR ACTIONS -->
      <div class="ks-navbar-actions">

        <div class="dropdown navlink" appDropdown>
          <ul class="dropdown-menu dropdown-menu-right navlink">
            <li><a class="dropdown-item" routerLink="/dashboard/profile">My profile</a></li>
            <!--<li><a class="dropdown-item">Record work time</a></li> &lt;!&ndash;(click)="recordSignOutTime()" &ndash;&gt;-->
            <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
          </ul>
        </div>

        <!-- BEGIN NAVBAR MESSAGES -->

        <div class="nav-item dropdown ks-notifications">

          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
             <span class="la la-bell ks-icon" aria-hidden="true">
             <span class="badge badge-pill badge-danger">3</span>
             </span>
            <span class="ks-text">Notifications</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
            <ul class="nav nav-tabs ks-nav-tabs ks-info" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#navbar-notifications-all" role="tab">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-activity" role="tab">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-comments" role="tab">Comments</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane ks-notifications-tab active" id="navbar-notifications-all" role="tabpanel">
                <div class="ks-wrapper ks-scrollable">
                  <a href="#" class="ks-notification">
                    <div class="ks-avatar">
                      <img src="" width="36" height="36">
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">Emily Carter <span class="ks-description">has uploaded 1 file</span></div>
                      <div class="ks-text"><span class="la la-file-text-o ks-icon"></span> logo vector doc</div>
                      <div class="ks-datetime">1 minute ago</div>
                    </div>
                  </a>
                  <a href="#" class="ks-notification">
                    <div class="ks-action">
                                                <span class="ks-default">
                                                <span class="la la-briefcase ks-icon"></span>
                                                </span>
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">New project created</div>
                      <div class="ks-text">Dashboard UI</div>
                      <div class="ks-datetime">1 minute ago</div>
                    </div>
                  </a>
                  <a href="#" class="ks-notification">
                    <div class="ks-action">
                      <span class="ks-error">
                      <span class="la la-times-circle ks-icon"></span>
                        </span>
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">File upload error</div>
                      <div class="ks-text"><span class="la la-file-text-o ks-icon"></span> logo vector doc</div>
                      <div class="ks-datetime">10 minutes ago</div>
                    </div>
                  </a>
                </div>

                <div class="ks-view-all">
                  <a href="#">Show more</a>
                </div>
              </div>
              <div class="tab-pane ks-empty" id="navbar-notifications-activity" role="tabpanel">
                There are no activities.
              </div>
              <div class="tab-pane ks-empty" id="navbar-notifications-comments" role="tabpanel">
                There are no comments.
              </div>
            </div>
          </div>
        </div>

        <div class="nav-item dropdown ks-messages">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="la la-envelope ks-icon" aria-hidden="true">
                            <span class="badge badge-pill badge-danger">10</span>
                            </span>
            <span class="ks-text">Messages</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
            <section class="ks-tabs-actions">
              <a href="#"><i class="la la-plus ks-icon"></i></a>
              <a href="#"><i class="la la-search ks-icon"></i></a>
            </section>
            <ul class="nav nav-tabs ks-nav-tabs ks-info" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#ks-navbar-messages-inbox" role="tab">Inbox</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#ks-navbar-messages-sent" role="tab">Sent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#ks-navbar-messages-archive" role="tab">Archive</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane ks-messages-tab active" id="ks-navbar-messages-inbox" role="tabpanel">
                <div class="ks-wrapper ks-scrollable">
                  <a href="#" class="ks-message">
                    <div class="ks-avatar ks-online">
                      <img src="" width="36" height="36">
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">Emily Carter</div>
                      <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                      <div class="ks-datetime">1 minute ago</div>
                    </div>
                  </a>
                  <a href="#" class="ks-message">
                    <div class="ks-avatar ks-offline">
                      <img src="" width="36" height="36">
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">Emily Carter</div>
                      <div class="ks-text">In golf, Danny Willett (pictured) wins the M...</div>
                      <div class="ks-datetime">1 minute ago</div>
                    </div>
                  </a>
                </div>
                <div class="ks-view-all">
                  <a href="#">View all</a>
                </div>
              </div>
              <div class="tab-pane ks-empty" id="ks-navbar-messages-sent" role="tabpanel">
                There are no messages.
              </div>
              <div class="tab-pane ks-empty" id="ks-navbar-messages-archive" role="tabpanel">
                There are no messages.
              </div>
            </div>
          </div>
        </div>
        <!-- END NAVBAR MESSAGES -->

        <!-- BEGIN NAVBAR NOTIFICATIONS -->


        <div class="nav-item dropdown ks-notifications">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="la la-cog ks-icon" aria-hidden="true"></span>
            <span class="ks-text">Notifications</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
            <ul class="nav nav-tabs ks-nav-tabs ks-info" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#navbar-notifications-all" role="tab">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-activity" role="tab">Activity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#navbar-notifications-comments" role="tab">Comments</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane ks-notifications-tab active" id="navbar-notifications-all" role="tabpanel">
                <div class="ks-wrapper ks-scrollable">
                  <a href="#" class="ks-notification">
                    <div class="ks-avatar">
                      <img src="" width="36" height="36">
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">Emily Carter <span class="ks-description">has uploaded 1 file</span></div>
                      <div class="ks-text"><span class="la la-file-text-o ks-icon"></span> logo vector doc</div>
                      <div class="ks-datetime">1 minute ago</div>
                    </div>
                  </a>
                  <a href="#" class="ks-notification">
                    <div class="ks-action">
                                                <span class="ks-default">
                                                <span class="la la-briefcase ks-icon"></span>
                                                </span>
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">New project created</div>
                      <div class="ks-text">Dashboard UI</div>
                      <div class="ks-datetime">1 minute ago</div>
                    </div>
                  </a>
                  <a href="#" class="ks-notification">
                    <div class="ks-action">
                                                <span class="ks-error">
                                                <span class="la la-times-circle ks-icon"></span>
                                                </span>
                    </div>
                    <div class="ks-info">
                      <div class="ks-user-name">File upload error</div>
                      <div class="ks-text"><span class="la la-file-text-o ks-icon"></span> logo vector doc</div>
                      <div class="ks-datetime">10 minutes ago</div>
                    </div>
                  </a>
                </div>

                <div class="ks-view-all">
                  <a href="#">Show more</a>
                </div>
              </div>
              <div class="tab-pane ks-empty" id="navbar-notifications-activity" role="tabpanel">
                There are no activities.
              </div>
              <div class="tab-pane ks-empty" id="navbar-notifications-comments" role="tabpanel">
                There are no comments.
              </div>
            </div>
          </div>
        </div>
        <!-- END NAVBAR NOTIFICATIONS -->


      </div>
      <!-- END NAVBAR ACTIONS -->
    </nav>

    <!-- BEGIN NAVBAR ACTIONS TOGGLER -->
    <nav class="nav navbar-nav ks-navbar-actions-toggle">
      <a class="nav-item nav-link" href="#">
        <span class="la la-ellipsis-h ks-icon ks-open"></span>
        <span class="la la-close ks-icon ks-close"></span>
      </a>
    </nav>
    <!-- END NAVBAR ACTIONS TOGGLER -->

    <!-- BEGIN NAVBAR MENU TOGGLER -->
    <nav class="nav navbar-nav ks-navbar-menu-toggle">
      <a class="nav-item nav-link" href="#">
        <span class="la la-th ks-icon ks-open"></span>
        <span class="la la-close ks-icon ks-close"></span>
      </a>
    </nav>
    <!-- END NAVBAR MENU TOGGLER -->
  </div>
  <!-- END MENUS -->
  <!-- END HEADER INNER -->
</nav>
<!-- END HEADER -->
