<div class="row-fluid">

  <div align="center" *ngIf="!isLoaded">
    <div class="loader"></div>
  </div>

  <div class="span8" *ngIf="isLoaded">
    <div class="component-background">

      <div class="row">
        <div class="col-xl-8">
          <div class="row">
            <div class="col-xl-12 ks-draggable-column ui-sortable">
              <div id="ks-bar-chart-panel" class="card panel" data-dashboard-widget="">
                <h5 class="card-header ui-sortable-handle">
                  MFA Mehanisms Utilized

                  <div class="ks-controls">
                    <a href="#" class="ks-control" data-control-close="">
                      <span class="ks-icon la la-ellipsis-h" data-control-icon=""></span>
                    </a>
                  </div>
                </h5>
                <div class="card-block" data-widget-content="">
                  <div id="ks-bar-chart" data-height="260" style="height: 260px;"><div style="position: relative; width: 734px; height: 260px;">
                    <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                      <svg width="734" height="360"><defs><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter6">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="2">

                        </feGaussianBlur><feOffset dx="0" dy="0"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0">

                      </feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic">

                      </feMergeNode></feMerge></filter><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter5">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                        <feOffset dx="0" dy="0"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0.4"></feFuncA></feComponentTransfer>
                        <feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter>
                        <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter4">
                          <feGaussianBlur in="SourceAlpha" stdDeviation="1">
                          </feGaussianBlur><feOffset dx="0" dy="2">
                        </feOffset><feComponentTransfer><feFuncA type="linear" slope="0.2">
                        </feFuncA>
                        </feComponentTransfer>
                          <feMerge>
                            <feMergeNode>
                            </feMergeNode>
                            <feMergeNode in="SourceGraphic"></feMergeNode></feMerge>
                        </filter><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter3">
                          <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur><feOffset dx="0" dy="1"></feOffset>
                          <feComponentTransfer>
                            <feFuncA type="linear" slope="0.4"></feFuncA>
                          </feComponentTransfer><feMerge><feMergeNode>
                        </feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge></filter><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter2">
                          <feGaussianBlur in="SourceAlpha" stdDeviation="0"></feGaussianBlur><feOffset dx="0" dy="1"></feOffset>
                          <feComponentTransfer><feFuncA type="linear" slope="0.4"></feFuncA></feComponentTransfer><feMerge><feMergeNode>
                        </feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><clipPath id="rablfilter0">
                          <rect x="27.5" y="76.5" width="590" height="131"></rect></clipPath></defs>
                        <g>
                        <rect x="0" y="0" width="734" height="260" fill="white" stroke="black" stroke-width="0"></rect>
                        <rect x="658.234375" y="76.5" width="12" height="12" rx="2" ry="2" fill="#72891f"></rect>
                        <text x="678.234375" y="88.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">Passive</text>
                        <rect x="658.234375" y="107.5" width="12" height="12" rx="2" ry="2" fill="#76c2cd"></rect>
                        <text x="678.234375" y="119.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">Push Message</text>
                        <rect x="658.234375" y="138.5" width="12" height="12" rx="2" ry="2" fill="#fbb832"></rect>
                        <text x="678.234375" y="150.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">Biometric</text>
                        <rect x="27.5" y="76.5" width="590" height="131" fill="none"></rect>
                        </g>
                        <g>
                      </g>
                        <g>
                        <path d="M 70.59817351598173 96.03418803418803 A 2 2 0 0 1 72.59817351598173 98.03418803418803 L 72.59817351598173 207 A 0 0 0 0 1 72.59817351598173 207 L 40 207 A 0 0 0 0 1 40 207 L 40 98.03418803418803 A 2 2 0 0 1 42 96.03418803418803 Z" fill="#72891f" clip-path="url(#rablfilter0)"></path>
                         <path d="M 259.26484018264836 156.4957264957265 A 2 2 0 0 1 261.26484018264836 158.4957264957265 L 261.26484018264836 207 A 0 0 0 0 1 261.26484018264836 207 L 228.66666666666663 207 A 0 0 0 0 1 228.66666666666663 207 L 228.66666666666663 158.4957264957265 A 2 2 0 0 1 230.66666666666663 156.4957264957265 Z" fill="#76c2cd" clip-path="url(#rablfilter0)"></path>
                       <path d="M 447.9315068493151 174.4102564102564 A 2 2 0 0 1 449.9315068493151 176.4102564102564 L 449.9315068493151 207 A 0 0 0 0 1 449.9315068493151 207 L 417.3333333333333 207 A 0 0 0 0 1 417.3333333333333 207 L 417.3333333333333 176.4102564102564 A 2 2 0 0 1 419.3333333333333 174.4102564102564 Z" fill="#fbb832" clip-path="url(#rablfilter0)"></path>
                        </g>
                        <g></g><g>
                        </g><g></g><g></g><g></g></svg></div></div></div>
                </div>
              </div>
            </div>


            <div class="col-xl-12 ks-draggable-column ui-sortable">
              <div id="ks-bar-chart-panel" class="card panel" data-dashboard-widget="">
                <h5 class="card-header ui-sortable-handle">
                  User Count by Risk Score Category
                  <div class="ks-controls">
                    <a href="#" class="ks-control" data-control-fullscreen="">
                      <span class="ks-icon la la-ellipsis-h" data-control-icon=""></span>
                    </a>
                  </div>
                </h5>
                <div class="card-block" data-widget-content="">
                  <div id="ks-bar-chart" data-height="260" style="height: 260px;"><div style="position: relative; width: 734px; height: 260px;">
                    <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
                      <svg width="734" height="360"><defs><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter6">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="2">
                        </feGaussianBlur><feOffset dx="0" dy="0"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0">
                      </feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic">
                      </feMergeNode></feMerge></filter><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter5">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                        <feOffset dx="0" dy="0"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0.4"></feFuncA></feComponentTransfer>
                        <feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter>
                        <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter4">
                          <feGaussianBlur in="SourceAlpha" stdDeviation="1">
                          </feGaussianBlur><feOffset dx="0" dy="2">
                        </feOffset><feComponentTransfer><feFuncA type="linear" slope="0.2">
                        </feFuncA>
                        </feComponentTransfer>
                          <feMerge>
                            <feMergeNode>
                            </feMergeNode>
                            <feMergeNode in="SourceGraphic"></feMergeNode></feMerge>
                        </filter><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter3">
                          <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur><feOffset dx="0" dy="1"></feOffset>
                          <feComponentTransfer>
                            <feFuncA type="linear" slope="0.4"></feFuncA>
                          </feComponentTransfer><feMerge><feMergeNode>
                        </feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge></filter><filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter2">
                          <feGaussianBlur in="SourceAlpha" stdDeviation="0"></feGaussianBlur><feOffset dx="0" dy="1"></feOffset>
                          <feComponentTransfer><feFuncA type="linear" slope="0.4"></feFuncA></feComponentTransfer><feMerge><feMergeNode>
                        </feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><clipPath id="rablfilter0">
                          <rect x="27.5" y="76.5" width="590" height="131"></rect></clipPath></defs><g><rect x="0" y="0" width="734" height="260" fill="white" stroke="black" stroke-width="0"></rect>
                        <rect x="658.234375" y="76.5" width="12" height="12" rx="2" ry="2" fill="#72891f"></rect>
                        <text x="678.234375" y="88.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">Low Risk</text>
                        <rect x="658.234375" y="107.5" width="12" height="12" rx="2" ry="2" fill="#fbb832"></rect>
                        <text x="678.234375" y="119.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">MediumRisk</text>
                        <rect x="658.234375" y="138.5" width="12" height="12" rx="2" ry="2" fill="#d45e60"></rect>
                        <text x="678.234375" y="150.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">High Risk</text>
                        <rect x="27.5" y="76.5" width="590" height="131" fill="none"></rect>
                        <text x="678.234375" y="170.5" style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto;" fill="#757575" dx="0px">Blocked</text>
                        <rect x="27.5" y="76.5" width="590" height="131" fill="none"></rect>
                      </g><g>
                      </g><g>
                        <path d="M 70.59817351598173 96.03418803418803 A 2 2 0 0 1 72.59817351598173 98.03418803418803 L 72.59817351598173 207 A 0 0 0 0 1 72.59817351598173 207 L 40 207 A 0 0 0 0 1 40 207 L 40 98.03418803418803 A 2 2 0 0 1 42 96.03418803418803 Z" fill="#72891f" clip-path="url(#rablfilter0)"></path>
                        <path d="M 259.26484018264836 156.4957264957265 A 2 2 0 0 1 261.26484018264836 158.4957264957265 L 261.26484018264836 207 A 0 0 0 0 1 261.26484018264836 207 L 228.66666666666663 207 A 0 0 0 0 1 228.66666666666663 207 L 228.66666666666663 158.4957264957265 A 2 2 0 0 1 230.66666666666663 156.4957264957265 Z" fill="#fbb832" clip-path="url(#rablfilter0)"></path>
                        <path d="M 447.9315068493151 174.4102564102564 A 2 2 0 0 1 449.9315068493151 176.4102564102564 L 449.9315068493151 207 A 0 0 0 0 1 449.9315068493151 207 L 417.3333333333333 207 A 0 0 0 0 1 417.3333333333333 207 L 417.3333333333333 176.4102564102564 A 2 2 0 0 1 419.3333333333333 174.4102564102564 Z" fill="#d45e60" clip-path="url(#rablfilter0)"></path>
                        <path d="M 603 168.81196581196582 A 2 2 0 0 1 605 170.81196581196582 L 605 207 A 0 0 0 0 1 605 207 L 572.4018264840182 207 A 0 0 0 0 1 572.4018264840182 207 L 572.4018264840182 170.81196581196582 A 2 2 0 0 1 574.4018264840182 168.81196581196582 Z" fill="#9b9b9b" clip-path="url(#rablfilter0)"></path>
                      </g>
                        <g></g><g>
                        </g><g></g><g></g><g></g></svg></div></div></div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
