  <!--<div class="ks-content">-->
    <!--<div class="ks-body tables-page">-->



      <div class="ks-nav-body-wrapper">

        <div class="form-group row container-fluid">
          <div class="col-sm-8 input-icon icon-left icon icon-lg icon-color-primary">
            <input id="input-group-icon-text" type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <span class="icon-addon">
                  <span class="la la-search ks-icon"></span>
                </span>
          </div>
          <div for="default-input-rounded" class="form-control-button">
            <button type="button" class="btn btn-success ks-rounded" role="button" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;" routerLink="../create-organization-admin"> <!--(click)="goToAdd()" -->
              Add a Admin
            </button>

          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-8"> </div>
          </div>
        </div>

    <form class="well form-horizontal" (ngSubmit)="createCompany(f)" #f="ngForm">
      <div class="alert alert-danger col-md-12" *ngIf="errorGetDataListInfo">
            Error retrieving data list...
        </div>
      <div class="row">
        <h3><b>Admins List</b></h3>
        <table class="table table-hover ks-text-light ks-table-header" style="width : 100%;" id="ks-datatable-basic ks-datatable" cellspacing="0">
          <thead>
          <tr>
            <td>ADMIN NAME</td>
            <td>EMAIL</td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let admin of admins">
            <td>{{admin.last}}</td>
            <td>{{admin.email}}</td>
            <!-- <td>
              <input type="button" value="Изменить" class="btn btn-default" (click)="editUser(user)" />
            </td>
            <td>
              <input type="button" value="Удалить" (click)="deleteUser(user)" class="btn btn-danger" />
            </td> -->
          </tr>
          <!-- <tr *ngFor="let admin of admins">
            <ng-template [ngTemplateOutlet]="loadTemplate(admin)"
                         [ngTemplateOutletContext]="{ $implicit: admin}">
            </ng-template>
          </tr> -->
          </tbody>
        </table>
        <div>{{statusMessage}}</div>


        <!--шаблон для чтения-->


        <!--шаблон для редактирования-->
        <ng-template #editTemplate>
          <td>
            <input type="text" [(ngModel)]="editedUser.Id" readonly disabled class="form-control" />
          </td>
          <td>
            <input type="text" [(ngModel)]="editedUser.Name" class="form-control" />
          </td>
          <td>
            <input type="text" [(ngModel)]="editedUser.Age" class="form-control" />
          </td>
          <td>
            <input type="button" value="Сохранить" (click)="saveUser()" class="btn btn-success" />
          </td>
          <td>
            <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
          </td>
        </ng-template>
      </div>

    </form>
      </div>
    <!--</div>-->
  <!--</div>-->

