<div class="row-fluid">
  <div class="component-background">
    <div class="ks-column ks-page">
      <div class="ks-content">
        <div class="ks-body tables-page">
          <div class="ks-nav-body-wrapper">
            <div class="form-group row container-fluid">
              <div class="col-sm-8 input-icon icon-left icon icon-lg icon-color-primary">
                <input id="input-group-icon-text" type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search">
                <span class="icon-addon">
                  <span class="la la-search ks-icon"></span>
                </span>
              </div>
              <div for="default-input-rounded" class="col-sm-1 form-control-button">
                <button type="button" class="btn btn-success ks-rounded" data-toggle="modal" data-target="#myModal">
                  Add a User
                </button>
                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4>Add Users</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        Please upload your user data below.
                        Make sure it follows the same format as the template file.
                        It must be .csv and only include two columns, (userID and email address).
                        You can download a copy of the template
                        <a routerLink="">here</a>
                      </div>
                      <div class="panel">
                        <table>
                          <tr>
                            <td>
                              <input type="file" #fileImportInput name="File Upload" id="txtFileUpload"
                                     class="btn btn-secondary" (change)="fileChangeListener($event)"
                                     accept=".csv" value={{selectedImageFile}}/>
                            </td>
                            <td style="padding: 0px;">
                            <input type="button" name="Reset" id="txtFileReset" class="btn btn-primary" value="Browse" /> <!--(click)="fileReset()"-->
                          </td>
                          </tr>
                        </table>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" align="center">Upload</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div for="default-input-rounded" class="col-sm-1 form-control-button">
                <button type="hidden" class="btn btn-secondary-outline hid ks-rounded" (click)="delItem(text, price, deviceid)"> Remove User</button>  <!--(click)="delItem(text, price, deviceid)">-->
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-8"> </div>
              </div>
            </div>
            <div>
            <table class="table  table-hover ks-text-light ks-table-header" style="width : 100%;" id="ks-datatable-basic ks-datatable" cellspacing="0"> <!--table-responsive-->
              <tr>
                <th></th>
                <th class="ks-status">NAME</th>
                <th>EMAIL</th>
                <th>ROLE</th>
                <th>#APPLICATIONS</th>
                <th>STATUS</th>
                <th width="100">PHONE SYSTEM</th>
                <th width="100">HARDWARE TOKEN</th>
                <th>LAST LOGIN</th>
                <th></th>
              </tr>
              <tr *ngFor="let csvRec of csvRecords;let i=index">
                <td class="ks-checkbox-column" width="1">
                  <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-info">
                  <input class="custom-control-input" type="checkbox"  (change)="fieldsChangePos($event, csvRec)" value="{{i}}" />
                    <span class="custom-control-indicator"></span></label>
                </td> <!--class="custom-control-input"-->
                <td><span class="ks-color-info">{{csvRec[0] + ' ' +  csvRec[1]}}</span></td>
                <td><span class="ks-color-info">{{csvRec[2]}}</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
</div>
