  <!--<div class="ks-content">-->
    <!--<div class="ks-body tables-page">-->
      <div class="ks-nav-body-wrapper">

    <form class="well form-horizontal" (ngSubmit)="addOrgamization(f)" #f="ngForm">

        <h3><b>Create Admin</b></h3>
        <hr>

        <div class="alert alert-danger col-md-12" *ngIf="errorGetDataListInfo">
            Error retrieving data list...
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div><b>Admin information</b><br></div>

                <div class="form-group">
                    <label class="control-label">First name</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input id="firstName" name="firstName" placeholder="First name" class="form-control" type="text" ngModel required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Last name</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input id="lastName" name="lastName" placeholder="Last name" class="form-control" type="text" ngModel required>
                        </div>
                    </div>
                </div>


              <div class="form-group">
                <label class="control-label">Password</label>
                <div class="inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input id="password" name="password" placeholder="Password" class="form-control" type="password" ngModel required>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Confirm password</label>
                <div class="inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"></span>
                    <input id="confirmPassword" name="confirmPassword" placeholder="Confirm password" class="form-control" type="password" ngModel required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            <input id="email" name="email" placeholder="Email" class="form-control" type="text" ngModel required>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Success message -->
        <div class="alert alert-success col-md-12" *ngIf="successInfo">
            Admin successfully created!
        </div>
        <div class="alert alert-danger col-md-12" *ngIf="errorInfo">
            Failed to create admin. Error from server...
        </div>

        <div class="alert alert-danger col-md-12" *ngIf="errorValidationInfo">
            Required or fill all form fields.
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success col-md-6 ks-rounded" (click)="addOrgamization()">Create</button>
            </div>
        </div>

    </form>



      </div>
    <!--</div>-->
  <!--</div>-->

