<app-header (featureSelected)="onNavigate($event)"></app-header>

<div id="wrapper">


  <div id="ex3" class="wrapper-sidebar"
       [class.sbar-show]="sidebarService.isOpen"
       [class.sbar-hide]="!sidebarService.isOpen">

    <app-navbar (featureSelected)="onNavigate($event)"></app-navbar>
  </div>

  <div class="wrapper-main-content"
       [class.sbar-show-main]="sidebarService.isOpen"
       [class.sbar-hide-main]="!sidebarService.isOpen">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div align="left">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
