body{
  padding:0;
  height:100%;
  background:#f5f6fa
}
.ks-page{
  width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;-js-display:flex;display:flex;
  height:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;
  flex-direction:column}
.ks-page>.ks-header>.ks-logo{
  margin-left:30px;margin-top:30px;text-transform:uppercase;font-size:18px;
  color:#25628f;font-weight:700;
  display:inline-block}
.ks-page>.ks-header>.ks-logo:active,.ks-page>.ks-header>.ks-logo:hover,.ks-page>.ks-header>.ks-logo:visited{
  text-decoration:none}
.ks-page>.ks-body{display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
                         -js-display:flex;
  display:flex;-webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-flex:1;
  -webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}
.ks-page>.ks-body>.ks-logo{
  color:#25628f;font-size:30px;
  font-weight:700;
  margin-bottom:40px;
  text-align:center}
.ks-page>.ks-body>.ks-panel{
  width:364px;
  margin:0 auto;
  -webkit-border-radius:2px;
  border-radius:2px;background-color:#fff}
.ks-page>.ks-body>.ks-panel.ks-forgot-password,.ks-page>.ks-body>.ks-panel.ks-signup{width:400px}
.ks-page>.ks-body>.ks-panel.ks-signup{min-height:467px}
.ks-page>.ks-body>.ks-panel.ks-forgot-password>.card-block>.form-container>.ks-header,.ks-page>.ks-body>.ks-panel.ks-login>.card-block>.form-container>.ks-header,.ks-page>.ks-body>.ks-panel.ks-signup>.card-block>.form-container>.ks-header{margin-bottom:20px}.ks-page>.ks-body>.ks-panel.ks-confirm>.card-block>.ks-header{font-size:18px;font-weight:500;margin-top:30px;text-align:center;margin-bottom:20px}.ks-page>.ks-body>.ks-panel.ks-confirm>.card-block>.ks-description{line-height:1.5;font-size:12px;text-align:center}.ks-page>.ks-body>.ks-panel.ks-confirm>.card-block>.ks-resend{border-top:1px solid #ebeef5;padding-top:20px;text-align:center;margin-top:30px;margin-left:-30px;margin-right:-30px;margin-bottom:-10px}.ks-page>.ks-body>.ks-panel .col-sm-right{padding-right:7px}.ks-page>.ks-body>.ks-panel .col-sm-left{padding-left:7px}.ks-page>.ks-body>.ks-panel .card-block{padding:30px}.ks-page>.ks-body>.ks-panel .card-block>.ks-locked-form>.ks-user{text-align:center;margin-top:20px;margin-bottom:20px}.ks-page>.ks-body>.ks-panel .card-block>.ks-locked-form>.ks-user>.ks-avatar{text-align:center;display:inline-block;width:64px;height:64px;margin-bottom:10px}.ks-page>.ks-body>.ks-panel .card-block>.ks-locked-form>.ks-user>.ks-name{font-size:14px;font-weight:500}.ks-page>.ks-body>.ks-panel h4{text-align:center}.ks-page>.ks-body>.ks-panel h4 span{margin-top:5px;display:block;font-size:13px;line-height:1.3;font-weight:400}.ks-page>.ks-body>.ks-panel .form-control{border-color:rgba(57,81,155,.2)}.ks-page>.ks-body>.ks-panel .form-control:focus{border-color:rgba(57,81,155,.3)}.ks-page>.ks-body>.ks-panel .icon-addon span{color:rgba(51,51,51,.6)}.ks-page>.ks-body>.ks-panel .ks-social{margin-top:15px;margin-bottom:-14px;padding:15px 30px 0 30px;border-top:1px solid rgba(57,81,155,.2);margin-right:-30px;margin-left:-30px;line-height:36px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;-js-display:flex;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.ks-page>.ks-body>.ks-panel .ks-social a{display:inline-block;width:36px;height:36px;-webkit-border-radius:2px;border-radius:2px;color:#fff;opacity:.9;font-size:22px;line-height:36px;text-align:center;margin-right:10px}.ks-page>.ks-body>.ks-panel .ks-social a.facebook{background:#3b5998}.ks-page>.ks-body>.ks-panel .ks-social a.twitter{background:#1da1f2}.ks-page>.ks-body>.ks-panel .ks-social a.google{background:#db4437}.ks-page>.ks-body>.ks-panel .ks-social a:hover{text-decoration:none}.ks-page>.ks-body>.ks-panel .ks-social a:last-child{margin-right:0}.ks-page>.ks-body>.ks-panel-extra{margin-top:20px;width:364px;-webkit-border-radius:2px;border-radius:2px;background-color:rgba(57,81,155,.05);padding:17px;text-align:center}.ks-page>.ks-footer{margin-bottom:40px;text-align:center;font-size:14px}.ks-page>.ks-footer ul{list-style:none;padding:0;margin:0;display:inline-block}.ks-page>.ks-footer ul li{display:inline-block;margin-left:30px}@media screen and (max-width:575px){.ks-page .ks-signup .row>div+div{margin-top:20px}}
.form-control {
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  height: 38px; /*28*/
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #dedede;
  font-size: 12px;
  color: #333;
  padding: 10px 15px; }
.input-icon .icon-addon {
  width: 38px;
}
